:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
  background-color: #f8f9fa;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
